:root{

  /* COLORES PRINCIPALES */
  
  --color-bg:#0f172a;
  --color-bg-secondary:#1e293b;
  
  --color-primary:#38bdf8;
  --color-primary-hover:#0ea5e9;
  
  --color-white:#f8fafc;
  --color-text:#cbd5e1;
  
  --color-border:rgba(255,255,255,0.08);
  
  --shadow-primary:0 10px 30px rgba(0,0,0,0.25);
  
  --transition:0.3s ease;
  
  }
  
  /* RESET */
  
  *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
  }
  
  html{
  scroll-behavior:smooth;
  }
  
  body{
  background:var(--color-bg);
  color:var(--color-white);
  overflow-x:hidden;
  }
  
  a{
  text-decoration:none;
  color:inherit;
  }
  
  img{
  max-width:100%;
  display:block;
  }
  
  section{
  width:100%;
  }